html,
body {
  height: 100%;
  font-size: 16px;
  background-color: #110B1F;
}

* {
  margin: 0;
  color: #f7f8e1;
  box-sizing: border-box;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 12px;
  bottom: 12px;
  right: 12px;
}

nav button {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  background-color: #3B2B5E;
  opacity: 0.86;
}

nav button:hover {
  opacity: 1;
}

nav button.disabled {
  /* cursor: unset; */
  background-color: #c4c4c4;
  opacity: 0.8;
}

nav button#up-btn {
  background-image: url("assets/chevron-small-up.svg");
}

nav button#down-btn {
  background-image: url("assets/chevron-small-down.svg");
}

h1 {
  font-family: 'Fredericka the Great', serif;
  font-size: 3.2rem;
}

p {
  font-family: 'Gadugi', sans-serif;
  font-size: 1rem;
}

article {
  min-height: 100vh;
}

article.background-img {
  background: url(assets/cuddlebook-bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

article.background-img main {
  max-width: 40rem;
  flex-shrink: 1;
  margin: 0 auto;
  padding-top: 10%;
  text-align: center;
  display: flex;
  gap: 5rem;
  flex-direction: column;
}

article.background-img section.intro {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

article.background-img section.badges {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

article.background-img section.reviews {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

article.slide section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: hidden;
  padding: 3rem;
  gap: 4rem;
}

/* Desktop */
@media (min-width: 768px) {
  article.slide section {
    flex-direction: row;
    padding-left: 4rem;
    gap: 0;
  }
}

article.slide section .text {
  flex: 1 0 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

article.slide section .image {
  flex: 1 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

article.slide section .image img {
  width: 100%;
}

/* Desktop */
@media (min-width: 768px) {
  article.slide section .image img {
    max-width: 100%;
    width: unset;
  }
}